.apsp {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.apsp--cards {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.apsp--cards::-webkit-scrollbar {
  display: none;
}
