.chat {
  background-color: #099652;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px 10px 0 grey;
  position: sticky;
  bottom: 85px;
  left: 315px;
  z-index: 15;
}
